<h3>Robust</h3>

<p>Robust is an IMSAFER module that ...</p>

<p style="font-size: small">
  <a href="/assets/robust.pdf">Read more</a>
</p>

@if(!jobID) {
<h4>Robust case parameters</h4>
<p>Please upload your csv file</p>
<app-file-upload
  [fileType]="'csv'"
  (case)="submitCase($event)"
></app-file-upload>
} @else {
<div *ngIf="!completed" class="flex-layout-column fx-gap--4px">
  <p class="text-sm text-gray-700">
    Job is currently running ... Progress: {{ progress }}%
  </p>
  <button (click)="refresh()" mat-raised-button color="primary">
    Refresh job status
  </button>
</div>
<div *ngIf="completed && !jobFailed" class="flex-layout-column fx-gap--4px">
  <p class="text-sm text-gray-700">Job is finished</p>
  <img [src]="thumbnail" />
  <div class="fx-layout-row fx-gap--4px">
    <button (click)="downloadResults()" mat-raised-button color="primary">
      Download Results
    </button>
    <button (click)="reload()" mat-raised-button color="primary">
      New Robust
    </button>
  </div>
</div>
<div *ngIf="jobFailed" class="flex-layout-column fx-gap--4px">
  <p class="text-red-500">Job failed</p>
  <p>Server said:</p>
  <p class="text-sm text-gray-700">{{ failedReason }}</p>
  <button (click)="reload()">New Robust</button>
</div>
}
