<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar style="width: 16rem">
      <img src="/assets/logo.png" alt="logo" />
      <span class="spacer"></span>
      <button
        mat-icon-button
        (click)="drawer.close()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <mat-expansion-panel
        style="box-shadow: none; font-size: 16px; margin-left: 0"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Extreme Loading</mat-panel-title>
        </mat-expansion-panel-header>

        <a mat-list-item href="#">Blast</a>
        <a mat-list-item href="#">Assesment</a>
      </mat-expansion-panel>
      <a mat-list-item href="#">Robust</a>
      <a mat-list-item href="#">Fire Safety</a>
      <a mat-list-item href="#">Evacuation</a>
      <a mat-list-item href="#">Risk</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="#">Results</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content style="display: flex; flex-direction: column; gap: 1rem">
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
        style="margin-right: 1rem"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <div class="fx-layout-column">
        <span>Advanced Information Modelling for SAFER</span>
        <span style="margin-top: -10px"
          >structures against manmade hazards</span
        >
      </div>
    </mat-toolbar>
    <div class="container"><router-outlet></router-outlet></div>
    <footer class="footer">
      <span
        >&copy; 2023
        <a href="http://dtclab.civil.ntua.gr"
          >Digital Technology Laboratory</a
        ></span
      >
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
