<h1>Welcome to IMSAFER</h1>

<p>
  The main objectives for the project is the development of innovative software
  components for building and infrastructure design, assessment and management
  against MMH. These components will collaborate with each other under a
  Building Information Modelling (BIM)-based computing protocol and will be
  integrated to an existing structural analysis and design software.
</p>
<p>
  IMSAFER software aims to unite different aspects of the built environment
  under a common platform. Multi-disciplinary BIM of structural, mechanical,
  electrical and plumbing systems is the first component that can provide a
  unified platform for assessing manmade hazards and guide the design process.
  In order to maximize the impact of countermeasures that will be implemented in
  the design stage or later during operation, functional and architectural
  aspects should be taken into account.
</p>
<p>
  The second component will assist in performing quick manmade hazard risk
  assessment in critical infrastructures and urban soft targets by coupling
  state of the art computational models for blast/impact/fire simulation,
  existing regulation standards for human life protection and functional
  characteristics of the built environment at hand.
</p>
